:root {
    --option-height: 51px;
   }



#contact_modal {
  display: none;
}

header a {
  cursor: pointer;
}

/* P H O T O G R A P H E R  H E A D E R */
/* H E A D E R - 1 - display layout */
.photographerHeader {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  /* grid ??? */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex: 1; */
  /* display: grid;
    grid-template-columns: 2fr 1fr 1fr; */
}

/* H E A D E R - 2 - photographer Data */
.photographerProfile {
  min-width: 308px;
  /*  width: 100%; */
  height: 200px;
  margin-top: 69px;
  margin-left: 50px;

  display: flex;
  flex-direction: column;
}

.photographerProfile__name {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
}

.photographerProfile__location {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
}

.photographerProfile__tagline {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
  margin-top: 20px;
}

/* H E A D E R - 3 - photographer Contact button and Modal */
.contact_button {
  margin-top: 137px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

/* H E A D E R - 4 - photographer portrait */
.photographerPictureId__img {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 56px;
  margin-right: 50px;
  background: #c4c4c4;
  /* text-align: right;
    border: 1px solid black; */
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

/* S E C T I O N  S O R T A T I O N  P I C T U R E  C H O I C E */
/* Dropdown list section */
.picture-sortation {
  height: 101px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  position: relative;
  /* border: 1px solid black; */
}

/* title */
.picture-sortation p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

/* dropdown list */


  
  .select-menu {
    width: 170px;
    min-height: 69px;
    background-color: #901c1c;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 100px;
    z-index: 1;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .select {
    width: 100%;
    background-color: #901c1c;
    padding: 0 10px;
    height: 69px;
    flex-shrink: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border-radius: 6px; /*  6px 0 0; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }
  
  .rotate-arrow {
    transform: rotate(180deg);
    transition: 500ms;
  }
  
  .option {
    width: 100%;
    height: var(--option-height);/* 51px; */
    background-color: #901c1c;
    margin: 1px 0;
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
    border-top: 1px solid #fff;
  }
  
  .option.hide {
    display: none;
  }
  
  .options-list {
    width: 100%;
    background-color: #901c1c;
    border-radius: 0 0 6px 6px;
    padding: 0 10px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 0;
    overflow: hidden;
    transition: 500ms;
  }
  
  .options-list.active {
    height: calc(var(--option-height) * 2);
  }























/* S E C T I O N  thumbnailGallery */
.thumbnailGallery__section {
  width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 100px;
  gap: 50px;
}
*/
/* thumnail card */

.thumbImgCard {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbImgCard__img {
  display: block;
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  /*  border: 1px solid black; */
}

.thumbImgCard__vid {
  display: block;
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  /*  border: 1px solid black; */
}

.thumbImgCard__img a {
  cursor: pointer;
}

.thumbImgCard__footer {
  width: 350px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13px;
}

.thumbImgCard__footer__title {
  display: block;
  width: 292px;
  height: 31px;
}

.thumbImgCard__footer__title,
p {
  font-size: 24px;
  color: #901c1c;
}

.thumbImgCard__footer__like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.thumbImgCard__footer__like p,
.thumbImgCard__footer__like i {
  font-size: 24px;
}

.thumbImgCard__footer__like p {
  color: #000;
  padding-right: 10px;
}

.thumbImgCard__footer__like i {
  color: #901c1c;
}
