:root {
  --option-height: 51px;
}

#contact_modal {
  display: none;
}

header a {
  cursor: pointer;
}

/* P H O T O G R A P H E R  H E A D E R */
/* H E A D E R - 1 - display layout */
.photographerHeader {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  /* grid ??? */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex: 1; */
  /* display: grid;
    grid-template-columns: 2fr 1fr 1fr; */
}

/* H E A D E R - 2 - photographer Data */
.photographerProfile {
  min-width: 308px;
  /*  width: 100%; */
  height: 200px;
  margin-top: 69px;
  margin-left: 50px;

  display: flex;
  flex-direction: column;
}

.photographerProfile__name {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
}

.photographerProfile__location {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
}

.photographerProfile__tagline {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
  margin-top: 20px;
}

/* H E A D E R - 3 - photographer Contact button and Modal */
.photographerHeader .contact_button {
  margin-top: 137px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#contact_modal {
  /* overlay */
  display: none;
  padding-top: 69px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.modal header img {
  position: absolute;
  cursor: pointer;
  top: 0px;
  right: 0px;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: left;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;

  font-size: 24px;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
  height: 170px;
  margin: 0;
  padding: 8px;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

/* 
margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
*/

/* label {
    font-family: var(--font-default);
    font-size: 17px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
  } */

/*  input {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  } */
.textControl {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}
.formGroup[data-error]::after {
  content: attr(data-error);
  font-size: 20px;
  font-weight: bold;
  /* color: #e54858; */
  color: #fff;
  display: block;
  margin-top: 7px;
  /* margin-bottom: 7px; */
  text-align: left;
  line-height: 0.5;
  opacity: 0;
  transition: 0.3s;
}
.formGroup[data-error-visible="true"]::after {
  opacity: 1;
}
.formGroup[data-error-visible="true"] .textControl {
  border: 2px solid #e54858;
}
/* 
  input[data-error]::after {
      content: attr(data-error);
      font-size: 0.4em;
      color: red;
  }

/*  */

/* H E A D E R - 4 - photographer portrait */
.photographerPictureId__img {
  display: block;
  width: 200px;
  height: 200px;
  margin-top: 56px;
  margin-right: 50px;
  background: #c4c4c4;
  /* text-align: right;
    border: 1px solid black; */
  object-fit: cover;
  border-radius: 100px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
}

/* S E C T I O N  S O R T A T I O N  P I C T U R E  C H O I C E */
/* Dropdown list section */
.picture-sortation {
  height: 101px;
  margin: 0 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  position: relative;
  /* border: 1px solid black; */
}

/* title */
.picture-sortation p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

/* dropdown list */

.select-menu {
  width: 170px;
  min-height: 69px;
  background-color: #901c1c;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 100px;
  z-index: 1;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.select {
  width: 100%;
  background-color: #901c1c;
  padding: 0 10px;
  height: 69px;
  flex-shrink: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 6px; /*  6px 0 0; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rotate-arrow {
  transform: rotate(180deg);
  transition: 500ms;
}

.option {
  width: 100%;
  height: var(--option-height); /* 51px; */
  background-color: #901c1c;
  margin: 1px 0;
  padding: 15px 0;
  font-weight: bold;
  font-size: 18px;
  border-top: 1px solid #fff;
}

.option.hide {
  display: none;
}

.options-list {
  width: 100%;
  background-color: #901c1c;
  border-radius: 0 0 6px 6px;
  padding: 0 10px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  height: 0;
  overflow: hidden;
  transition: 500ms;
}

.options-list.active {
  height: calc(var(--option-height) * 2);
}

/* S E C T I O N  thumbnailGallery */
.thumbnailGallery__section {
  width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px 100px;
  gap: 50px;
}
*/
/* thumnail card */

.thumbImgCard {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbImgCard__img {
  display: block;
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  /*  border: 1px solid black; */
}

.thumbImgCard__vid {
  display: block;
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  /*  border: 1px solid black; */
}

 .medium:hover {
    cursor: pointer;
 }

.thumbImgCard__footer {
  width: 350px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 13px;
}

.thumbImgCard__footer__title {
  display: block;
  width: 292px;
  height: 31px;
}

.thumbImgCard__footer__title,
p {
  font-size: 24px;
  color: #901c1c;
}

.thumbImgCard__footer__like {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.thumbImgCard__footer__like p,
.thumbImgCard__footer__like i {
  font-size: 24px;
}

.thumbImgCard__footer__like p {
  color: #000;
  padding-right: 10px;
}

.thumbImgCard__footer__like i {
  color: #901c1c;
}

.likesPriceBox {
  position: fixed;
  bottom: -10px;
  right: 50px;
  width: 376px;
  height: 89px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: #db8876;
  border-radius: 5px;
}

.likes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 170px;
  font-size: 24px;
  text-align: center;
}

.rate {
  margin: 0 10px;
}

.price {
  width: 170px;
  font-size: 24px;
  text-align: center;
}

.fa-heart:hover {
  /* color: green; */
  cursor: pointer;
}
