@import url("photographer.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}


body {
    width: 1440px;
    font-family: "DM Sans", sans-serif;
    margin: 0 auto;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article,
.photographer_section article a
 {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* name */
.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
}

/* portrait */
.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
   
}
/* country - city */
.p_city {
    font-size: 13px;
    color: #901C1C;
}

/* tagline */
.p_tagline {
    font-size: 10px;
    color: #000;
}

/* price */
.p_price {
    font-size: 9px;
    color: #757575;
}

/*  */
